extends layout

block content
  br
  table(style='width:100%; text-align:center', class="table-bordered")
    tr
      th Name
      th Wallet adress
      th Crypto amount
      th Account balance
      each user in users
        tr
          if !user.isAdmin
            td  #{user.username}
            td  #{user.wallet_address}
            td  #{user.amount}CroCoin
            td  #{user.bank_balance}$
