extends layout

block content
  br
  table(style='width:100%; text-align:center', class="table-bordered myTable")
    tr
      th Sender
      th Receiver
      th Amount
      each transaction in transactions
        tr
          td  #{transaction.sender}
          td  #{transaction.receiver}
          td  #{transaction.amount}
