extends layout

block content
  br
  table(style='width:100%; text-align:center', class="table-bordered")
    tr
      th Name
      th Amount
      th Wallet Address
      th Account balance
      each user in users
        tr
          if !user.isAdmin
            td  #{user.username}
            td  #{user.amount}
            td  #{user.wallet_address}
            td  hehe
