doctype html
html
  head
    title CroCoin
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') CroCoinTransfer
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          if user
            li.nav-item
              a.nav-link(href='/wallets/myWallet') My wallet
              span.sr-only (current)
            li.nav-item
                a.nav-link(href='/wallets/transaction') Transactions
            li.nav-item
                a.nav-link(href='/wallets/all') Members

        ul.navbar-nav.navbar-right
          if user
            li.nav-item
              a.nav-link(href='/users/logout') Logout
            li.nav-item
              a.nav-link(href='#') #{user.username}
          else
            li.nav-item
              a.nav-link(href='/users/login') Login
            li.nav-item
              a.nav-link(href='/users/register') Register

    .container
      != messages('message', locals)
      if errors
        each error in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Copyright &copy; 2018
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')
