extends layout

block content
  br
  p(class="loginTitle") Login page
  form(method='POST', action='/users/login')
    #form-group
      label(class="boldText") Username:
      input.form-control(name='username', type='text')
      br
    #form-group
      label(class="boldText") Password:
      input.form-control(name='password', type='password')
      br
    br
    input.btn.btn-primary.center-block.btn1(type='submit', value='Log in')
