extends layout

block content
  br
  h1 Registration
  form(method='POST', action='/users/register')
    #form-group
      label Username:
      input.form-control(name='username', type='text')
    #form-group
      label Email:
      input.form-control(name='email', type='email')
    #form-group
      label Password:
      input.form-control(name='password', type='password')
    #form-group
      label Repeat Password:
      input.form-control(name='password2', type='password')
    br
    #form-group
      label Want to get all the money?
      input.form-control(name='adminCode', type='password', placeholder='Enter secret code')
    br
    input.btn.btn-primary(type='submit', value='Register')
